
<link rel="stylesheet" href="/components/alternative-editor/alternative-editor.css">
<link rel="stylesheet" href="/styles/jquery-ui-1.10.3.custom.css">

<div id="email-editor">
    <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Undo</a></li>
                <li><a href="#">Redo</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Help</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <!-- Left side bar -->
            <div class="col-xs-12 col-md-3" id="design-options">
                <div class="row">
                    <div class="col-xs-12 col-md-3" id="design-menu">

                    </div>
                    <div class="col-xs-12 col-md-offset-3 col-md-9" id="layout-content-blocks">
                        <div class="droppable-content-block ui-helper-clearfix" data-ng-repeat="block in editorCtrl.contentBlocks"></div>
                    </div>
                </div>
            </div>
            <!-- end side bar-->
            <!-- content -->
            <div class="col-xs-12 col-md-offset-3 col-md-9" id="content">
                <editor-canvas data-get-message="editorCtrl.getMessage()" class="content">
                </editor-canvas>
            </div>
            <!--end content-->
        </div>
    </div>
    <div id="viewTemplates" data-ng-show="false">
        <img src="/Images/editorcontentactivedrag.png" class="droppableContentBlockDrag" style="position:relative; z-index:10000; top:-75px; left:95px;" />
        <table class="drop-here row">
            <tr><td><div><img src="/Images/editortableactivedrag.png" /><p>Drop Here!</p></div></td></tr>
        </table>

        <div class="ui-widget-overlay"></div>
        <div class="content-block-menu-bar ui-corner-all clearfix">
            <a href="javascript:;" title="Move" class="drag btn btn-inverse text-center"><i class="glyphicon glyphicon-move"></i></a>
            <a href="javascript:;" title="Duplicate" data-ng-click="duplicate()" class="btn btn-inverse text-center"><i class="glyphicon glyphicon-duplicate"></i></a>
            <a href="javascript:;" title="Edit" class="btn btn-inverse text-center"><i class="glyphicon glyphicon-pencil"></i></a>
            <a href="javascript:;" title="Delete" class="btn btn-inverse text-center"><i class="glyphicon glyphicon-trash"></i></a>
        </div>
    </div>

</div>
