/***************************** 
*********** ALL ************
*****************************/

.navbar li
{
    margin-bottom:0;
}

.navbar .nav .dropdown-toggle .caret
{
    margin-top:5px;  
}

.row-fluid .left-sidebar, .row-fluid .main-content{
    background-color:white; 
    min-height:500px;
    
    border: 1px solid #d4d4d4;
    border-top-width:0;
     -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.main-content > .navbar {
    margin-bottom: 0;
}

.main-content .navbar .navbar-inner h6 {
    min-width: 100px;
}

.select-members.main-content {
    background-color: inherit;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.select-members.main-content li {
    margin-bottom: 0;
}

.select-members.main-content textarea {
    width: 290px;
    min-width: 290px;
    max-width: 290px;
    margin-top: 5px;
}

.select-members.main-content .members-row {
    background-color: #fff;
}

.select-members.main-content .row-content {
    background-color: #fff;
    min-height: 500px;
    border: 1px solid #d4d4d4;
    border-top: 0;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

.select-members.main-content .row-content:first-child {
    margin-left: 0;
}

.select-members.main-content .navbar {
    margin-bottom: 0;
}

.select-recipients, .set-time {
    padding-left: 10px; 
}

.set-time {
    padding-top: 10px;
}

.set-time label.radio {
    display: block;
    margin-bottom: 5px;
}

.set-time .select-date {
    width: 190px;
    margin-right: 3px;
}

#editorCanvas {
    overflow-y: auto;
    position: relative;
}

.layoutTable tr.editorContentBlock a, .layoutTable tr.editorContentBlock a:hover, .layoutTable tr.editorContentBlock a:visited, .layoutTable tr.editorContentBlock a:link
{
    text-decoration: underline; 
    color:inherit;
    font-family:inherit;
    font-size:inherit;
}

.layoutTable tbody.ui-sortable {
    *height: 50px;
    height: 50px\9;
}

.layoutTable tbody.ui-sortable {
    display: block;
    min-height: 50px;
}

#sticky {
    font-size: 2em;
    border-radius: 0.5ex;
    -moz-border-radius: 0.5ex;
    -webkit-border-radius: 0.5ex;
    -khtml-border-radius: 0.5ex;
}

#sticky.stick {
    position: fixed;
    top: 15px;
    border-radius: 0 0 0.5em 0.5em;
    -moz-border-radius: 0 0 0.5em 0.5em;
    -webkit-border-radius: 0 0 0.5em 0.5em;
    -khtml-border-radius: 0 0 0.5em 0.5em;
    z-index: 900;
}

#editorCanvas {
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
}

.editor-content
{
    padding: 0 10px;    
}

.show-design {
    min-width: 75px;
}

.design-paging {
    padding: 7px 15px;
    width: 110px;
}

.design-paging i {
    cursor: pointer;
}

.design-paging .icon-hidden {
    visibility: hidden;
}

.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus, 
.dropdown-submenu:hover > a, 
.dropdown-submenu:focus > a
{
    background-color: #bd362f;
    background-image: none;
}

.form-horizontal .control-group {
    margin-bottom: 10px;
}

.btn.disabled,
.btn[disabled] {
	cursor:not-allowed;
}

.frame {
    width:100%;
    max-width: 100%;
    min-height: 350px;
}
/***************************** 
******* SELECT DESIGN ********
*****************************/

.row-fluid > div.design {
    width: 23.9%;
    *width: 23.9%;
    margin: 5px 0.55%;
    display: block;
    float: left;
    box-sizing: border-box;
}

.design .thumbnail > img
{
    cursor:pointer;
}

.design .thumbnail > .caption {    
    height: 30px;
    overflow: hidden;
}

.alert 
{
    position: fixed;
    top: 10%;
    left: 50%;
    z-index: 1050;
    width: 370px;
    margin-left: -185px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    outline: none;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

.alert .loading-spinner {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 16px;
    height: 16px;
    background: url('/Images/loading-new.gif');
}

.alert-default {
    background-color: white;
    color: black;
}

.pace .pace-activity {
    width: 16px;
    height: 16px;
    background: url('/Images/loading-new.gif');
    border: none;
    float: left;
}

.pace .pace-loading {
    float: right;
    position: absolute;
    right: 40px;
    top: 15px;
    text-transform: uppercase;
    font-size: 10px;
}

/***************************** 
****** SIDE NAVIGATION *******
*****************************/

.bs-sidebar.affix {
  position: static;
}

/* First level of nav */
.bs-sidenav {
  margin-bottom: 30px;
  padding-top:    10px;
  text-shadow: 0 1px 0 #fff;
  border-radius: 5px;
}
.bs-sidebar .nav > li 
{
    margin-bottom:2px;
}

/* All levels of nav */
.bs-sidebar .nav > li > a {
  display: block;
  font-size:13px;
  color: #000000;
  padding: 5px 20px;
}
.bs-sidebar .nav > li > a:hover {  
  background-color: transparent;
}
.bs-sidebar .nav > .active > a,
.bs-sidebar .nav > .active:hover > a,
.bs-sidebar .nav > .active:focus > a {
  font-weight: bold;
  background-color: transparent;
}

/* Nav: second level (shown on .active) */
.bs-sidebar .nav .nav {
  display: none; /* Hide by default, but at >768px, show it */
  margin-bottom: 8px;
}
.bs-sidebar .nav > .active > span > ul {
    display: block;
  }
.bs-sidebar .nav .nav > li > a {
  padding-top:    3px;
  padding-bottom: 3px;
  padding-left: 30px;
  font-size: 11px;
}

/* Show and affix the side nav when space allows it */
@media (min-width: 992px) {
  .bs-sidebar .nav > .active > ul {
    display: block;
  }
  /* Widen the fixed sidebar */
  .bs-sidebar.affix,
  .bs-sidebar.affix-bottom {
    width: 213px;
  }
  .bs-sidebar.affix {
    position: fixed; /* Undo the static from mobile first approach */
    top: 80px;
  }
  .bs-sidebar.affix-bottom {
    position: absolute; /* Undo the static from mobile first approach */
  }
  .bs-sidebar.affix-bottom .bs-sidenav,
  .bs-sidebar.affix .bs-sidenav {
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  /* Widen the fixed sidebar again */
  .bs-sidebar.affix-bottom,
  .bs-sidebar.affix {
    width: 263px;
  }
}

/******** NAME POPUP *********/

#MailNamePopUp
{
    width: 366px;
    z-index: 1000;
    position: absolute;      
}

#MailNamePopUp > div.modalPopup
{
    width: 360px;   
    padding: 2px 2px 10px 2px;    
}

#MailNamePopUp div.ShortGreyBox
{
    width: 350px;
    padding-top: 5px;
    height: 20px;
}

#MailNamePopUp div.content
{
    text-align:justify;
	margin:15px 5px 10px 5px;
	width: 350px;
}

#MailNamePopUp span.dataentrylabel
{
    float:right;
    margin-top:5px;
}

#MailNamePopUp div.input
{
    text-align: left;
    margin-left: 5px;
}

#MailNamePopUp span.requiredField + span
{
    color:#a90000;   
}

/***************************** 
******* SELECT LAYOUT ********
*****************************/
.no-close .ui-dialog-titlebar-close {
  display: none;
}

/***************************** 
******* EDITOR ********
*****************************/
a.MenuTab, a.step
{
    color: White !important;
}

tr.dragging div{    
    position:relative;
    left:-60px;
    color:white; 
    font-weight:bold;
    height: 30px;  
}

tr.dragging.active 
{       
    border:2px dashed #7ae17a;
    height: 100px;    
}

tr.emptyBlock {
    height: 30px;
}

tr.emptyBlock img {
    height: 30px;
    width: 100%;
}

tr.dragging p
{
    position:relative; 
    left:10px; 
    top:-25px;
}

.btn.redo
{
    background-image: url('/Images/redo.png'); 
}

.btn.undo  
{
    background-image: url('/Images/undo.png');
} 

.email-options-modal #EmailFooter
{
    margin-top:20px;
    margin-bottom:20px;
}

.btn.redo, .btn.undo
{    
    background-repeat: no-repeat;
	background-position:left;    
	width: 63px;
    padding-right:6px;
}

.btn.align-btn 
{
    margin: 0px;    
}

.contentBlockHoverMenuBar a.btn
{
    padding: 6px;
    margin: 2px;
}

.contentBlockHoverMenuBar
{
    padding: 10px;
    background-color:#484848; 
    border:1px white solid;
    text-align:center;
    position:absolute; 
    width:160px; 
    height:20px;
    display: none;
    z-index: 90;
}

.contentBlockHoverMenuBar > a > i.icon-duplicate {
    width: 28px;
    height: 16px;
    line-height: 16px;
    background-image: url("/Images/duplicate.png");
    background-position: 0;
    margin-top: -1px;
}

.contentBlockHoverMenuBar > a > i.icon-brush {
    width: 16px;
    height: 16px;
    line-height: 16px;
    background-image: url("/Images/brush.png");
    background-position: 2px 0;
    margin-top: -1px;
}

.editorContentBlock .ui-widget-overlay 
{
    background:#7ae17a none;
    position:absolute;
    height: 10px;
    width: 10px;
    display: none !important;
}

.editorContentBlock:hover .ui-widget-overlay,
.editorContentBlock:hover .contentBlockHoverMenuBar {
    display: block!important;
}

table.hideOverlays .editorContentBlock:hover .ui-widget-overlay,
table.hideOverlays .editorContentBlock:hover .contentBlockHoverMenuBar {
    display: none!important;
}

.droppableContentBlock > td > img
{
    cursor:pointer;  
    margin:5px 10px;
    width: 93px;
    height: 49px;
}

td[social-follow-editor] img 
{
    display:inline-block !important;
}

div.urlManager input[type=text]
{
    width:450px;
}
.sendATest
{    
    display: inline-block;
    width:105px;
	height:50px;
	vertical-align:middle;
	padding: 4px;	
    border: none;
    box-shadow: none;
}

.sendATest > label
{
    display:inline-block; 
    font-weight:bold;
    vertical-align:middle;
    cursor: pointer;    
    float: right;
    color:#4e4e4e;
}

.lblSendATest {
    margin-top: 5px;
}

.btn.sendATest {
    background-color: #EEEEEE;
    background-image: none;
    margin-top: 10px;
}
.sendATest:hover > i,
.btn.html-content:hover > i{
    color: red;
}

@font-face {
	font-family: "Flaticon";
	src: url("../Fonts/flaticon.eot");
	src: url("../Fonts/flaticon.eot#iefix") format("embedded-opentype"),
	url("../Fonts/flaticon.woff") format("woff"),
	url("../Fonts/flaticon.ttf") format("truetype"),
	url("../Fonts/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after 
{   
	font-family: Flaticon;
    font-size: 24px;
    font-style: normal; 
}

.flaticon-sendATest:before 
{
	content: "\e001";
}
.flaticon-html-tag:before {
	content: "\e000";
}

.row-fluid .contentBlockFloat {
    -moz-border-bottom-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 17.02127659574468%;
}

.span2.stick {
    width: 143.953px;
}

.sendATestModal
{
	width: 755px;	
}

.modal-backdrop {
    z-index: 1030;
}

.bootstrap-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    overflow: auto;
    overflow-y: scroll;    
}

.bootstrap-modal .modal {
    position: relative;
    margin: 10% auto 30px auto;
    top: auto;
    left: auto;
    -webkit-transform: translate(0,0);
}

.bootstrap-modal .modal.htmlEditorModal{
    margin: 2% auto;
    width: 70%;
}

.bootstrap-modal .modal.htmlEditorModal .htmlPreview {
    overflow-y: scroll;
    max-height: 95%;
    position: absolute;
    margin-left: 41%;
}

.bootstrap-modal .modal.htmlEditorModal.htmlVersionModal {
    width: 90%;
}

.bootstrap-modal .modal.htmlEditorModal .CodeMirror.cm-s-default.CodeMirror-wrap,
.bootstrap-modal .modal.htmlEditorModal .cke_contents.cke_reset{
    /* override default styles*/
    min-height: 400px!important;
}

.bootstrap-modal .modal.htmlEditorModal .CodeMirror-scroll{
    min-height: 400px !important;
}


#url-manager-modal .bootstrap-modal .modal
{
    min-width: 800px !important;
}

#url-manager-modal .bootstrap-modal .modal .modal-body iframe
{
    min-width: 750px !important;
}


#billing-modal .bootstrap-modal .modal
{
    height:580px;
    min-width: 560px !important;
}

#billing-modal .bootstrap-modal .modal .modal-body iframe
{
    min-width: 500px !important;
    min-height:500px;
}

#social-media-marketing-modal .bootstrap-modal .modal
{
    height:500px;
    min-width: 660px !important;
}

#social-media-marketing-modal .bootstrap-modal .modal .modal-body iframe
{
    min-width: 600px !important;
    min-height:380px;
}

.modal.sendATestModal {
    margin-top: 30px;
}

.bootstrap-modal .modal-body{
    max-height: none;
}
.modal-open {
    overflow: hidden;
}

.messagePreview
{
    width: 700px;
}

.messagePreview .pre-scrollable
{
    height: 300px;
}


.bootstrap-modal .modal.imageEditorModal
{
	width: 650px;
    margin-top: 50px;
}   

.imageEditorModal > form
{
    margin: 0;
}

.imageEditorModal .modal-body
{
    max-height: 460px;
    overflow: hidden;
}

.imageEditorModal .slider
{
    max-width:300px;
}


#imagePreview
{
    max-width: 630px;   
    overflow: auto;
    max-height: 250px;
    min-height: 80px;
}

div.ui-resizable-handle
{
    width:9px!important;
    height:9px!important;
    background-color:white;
    border:1px solid black;
}

img.ui-resizable {
    margin: 0;  
}

div.ui-resizable-handle.ui-resizable-ne
{
    top:0;
    right:0;
}

div.ui-resizable-handle.ui-resizable-sw
{
    left:0;
    bottom:0;
}

div.ui-resizable-handle.ui-resizable-nw
{
    left:0;
    top:0;    
}

.editorContentBlock .ui-wrapper
{
    top:0!important;
    left:0!important;
    position: relative!important; /*Fix for misplaced resize icons*/
}

.editorContentBlock .ui-resizable-disabled.ui-state-disabled
{
    opacity:1;
    filter: Alpha(Opacity=100);
}

.mapper-shapes.form-inline > .row-fluid > .control-group{
	display: inline-block;
	margin: 10px 0 0;
}

#imagePreview .ui-widget-overlay { background:#FFF none !important;position:absolute; height:0; }
.imageInput { -moz-opacity: 0;opacity:0;filter: alpha(opacity=0);position: absolute;z-index: 999;width: 100px;height: 25px;top: 0;left: 0;text-align: right; border-left-width: 780px;cursor: pointer; }
#imagePreview #imageButtons { position:absolute;height: 100px;text-align: center }
#imagePreview #imageButtons input { margin-left: 0px;width:100px }

.navbar .imageInput {
    left: auto;
    right: 0;
}

.imageInput.fileUpload {
    width: 150px;
}

.imageEditorModal .navbar .nav > li > a {
    font-size: 14px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 10px 15px 10px;
}

.imageEditorModal .navbar .nav > li {
    min-height: 35px;
    height: 35px;
}

.imageEditorModal .navbar {
    margin-bottom: 0;
}

.imageEditorModal .navbar-inner {
    min-height: 35px;
}

.mapper-shapes > .row-fluid > .span4 {
    width:180px;
}

.mapper-shapes > .row-fluid > .span3 {
    width:162px;
}

.mapper-shapes label, .mapper-shapes span {
    font-size: 12px;
}

.mapper-shapes > .row-fluid > .control-group > .btn {
    margin: 1px 0px;
}

div.mapper-body {
    max-height: 300px;
    overflow-y: auto;
    margin-top: 15px
}

.helpJoinPage {
    font-size: 12px;
}

/*********** SELECT MEMBERS ***************/

#select-members {
    margin-top: 10px;
}

#select-members label, 
#select-members input, 
#select-members button, 
#select-members select, 
#select-members textarea,
#select-members .btn {
    font-size: 12px;
}

#select-members > .span4 > .row-fluid:first-child {
    margin-top: 10px;
}

#panel-accounts {
    margin-top: 10px;
    padding: 10px;
}

#panel-accounts label {
    font-size: 11px;
}

#accounts-list {
    max-height: 180px;
    overflow: auto;
    margin-top: 10px;
    background-color: #fff;
}

#accounts-list li {
    clear: both;
    cursor: pointer;
    height: 35px;
    margin: 3px;
}

#accounts-list li:hover {
    background-color: #eee;
}

.profile-selected {
    background-color: #eee;
}

.social-icon {
    width: 17px;
    height: 17px;
    background:url("/Images/SocialMedia/SocialMediaSprite.png") no-repeat scroll 0px 0px transparent;
    position: relative;
    top: -15px;
    left: 18px;
}

[class*="social-icon-"] {
    overflow-y: hidden;
    max-height: 35px;
}

.social-icon-facebook > .social-icon {
    background-position: -230px -277px;
}

.social-icon-twitter > .social-icon {
    background-position: -230px -293px;
}

.social-icon-foursquare > .social-icon {
    background-position: -162px -353px;
}

.profile-selected 
{
    width: 17px;
    height: 17px;
    background:url("/Images/SocialMedia/SocialMediaSprite.png") no-repeat scroll 0px 0px transparent;
    position: relative;
    top: -55px;
    left: 0px;
    background-position: -230px -310px;
}

.social-profile-image {
    width: 31px;
    height: 29px;
}

.social-icon-facebook > .social-profile-image{
    border: 3px solid rgb(54, 102, 167);
}

.social-icon-twitter > .social-profile-image {
    border: 3px solid rgb(79, 184, 219);
}

.social-icon-foursquare > .social-profile-image {
    border: 3px solid #EF4877;
}

.sm-padding {
    padding-left: 50px;
}

.top-padding {
    padding-top: 15px;
}

.btnAddAccount {
     cursor: pointer; 
     background-position: -1px -460px; 
     height: 30px; 
     width: 125px; 
     border-width:0px;
}

.favoriteStar .icon-star {
    background-image: url('/Images/FilledStar.png');
    background-position: 0 0;
}

.favoriteStar .icon-star-empty {
    background-image: url('/Images/EmptyStar.png');
    background-position: 0 0;
}

.small-black-btn {
    color: white !important;
}

.align {
    left: 0 !important;
}

.mail-name {
    margin-top: 10px;
}

.layout-modal {
    width: 800px;
}

.layout-modal .layouts-container {
    width: 640px;
    margin: 0 auto;
}

.layout-modal .layout-preview-block {
    float: left;
    margin-left: 10px;
}

.layout-modal .layout-preview-block #layoutOverlay {
    background-color: #7ae17a;
    position: absolute;
    width: 200px;
    height: 180px;
    top: 40px;
    -moz-opacity: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}

.layout-modal .layout-preview-block:hover #layoutOverlay, .layout-modal .layout-preview-block.selected #layoutOverlay {
    cursor: pointer;
    -moz-opacity: 0.25;
    opacity:0.25;
    filter: alpha(opacity=25);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
}

.layout-modal .layout-description {
    display: block;
}

.farbtastic {
    cursor: pointer;
}

.reservation-button-link {
    display: block;
}

.custom-button-hex {
    margin-top: 10px;
}

.custom-button-hex label, .custom-button-rgb label {
    display: inline-block;    
}

.custom-button-hex input.hex {
    width: 148px;
}

.custom-button-rgb input {
    width: 30px;
}

.colorPicker {
    position: relative;
    width: 400px;
    margin: 0 auto;
}

.colorPicker .button-layout {
    float: left;
    margin-right: 40px;
}

.hexPicker{
    float:left;
}

a.reservation-button-link {
    display: block;   
    margin-bottom: 20px;
    border-radius: 5px; 
    color: #FFFFFF !important; 
    display: inline-block;
    font-family: Arial,sans-serif; 
    font-size: 18px; 
    font-weight: bold; 
    line-height: 54px; 
    text-align: center; 
    text-decoration: none;
    width: 200px; 
    -webkit-text-size-adjust: none;
    cursor: default;
}

a.reservation-button-link.red {
    background-color: #A72100;    
}

a.reservation-button-link.gray {
    background-color: #82868A;    
}

a.reservation-button-link.blue {
    background-color: #1E63AB;    
}

.button-select input[type="radio"] {
    margin-right: 10px;
}
.closedHandCursor {
    cursor: url('/Images/closedhand.cur'), default!important;
}

.modal.socialFollowStyleModal{
    width: 730px;
}

.socialFollowStyleModal .iconSet input[type="radio"]{
    margin-right: 5px;
    bottom:15px;
    position:relative;
}

.socialFollowStyleModal .iconSet{
    margin: 15px 0;
}

.socialFollowStyleModal .iconSet > div{
	display: inline-block;
	margin: 0 1px;
}

.build-content .welcome-message-info{
    margin: 20px 0;
    font-weight: bold;
    font-size: 12px;
}

.mapper-body div.ui-resizable-handle.ui-resizable-ne{
    top:0;
    right:0;
}

.mapper-body div.ui-resizable-handle.ui-resizable-sw{
    left:0;
    bottom:0;
}

.mapper-body div.ui-resizable-handle.ui-resizable-nw{
    left:0;
    top:0;
}

.mapper-body div.ui-resizable-handle.ui-resizable-se {
    right: 0;
    bottom: 0;
}

.mapper-body div.ui-resizable-handle.ui-resizable-e {
    display: none;
}
.mapper-body .ui-wrapper {
    cursor: pointer;
}
.deleteColumnHoverMenuBar {
    height: 0px;
}

.editorContentBlock .column {
    min-width: 40px;
    min-height: 40px;
}

.editorContentBlock .column ~ .deleteColumnHoverMenuBar a {
    display: none;
    text-align: left;
    position: relative;
    bottom: 22px;
    width: 14px;
    z-index: 90;
    -ms-opacity: 0.7;
    opacity: 0.7;
}

.editorContentBlock .column:hover ~ .deleteColumnHoverMenuBar a {
    display: block !important;
}

.editorContentBlock .deleteColumnHoverMenuBar a:hover {
    display: block !important;
    -ms-opacity: 1 !important;
    opacity: 1 !important;
}

#billing-modal .frame {
    margin-left: 30px;
}

.button-select .ColorSq,
.button-select .ColorCir,
.button-select .GreySq,
.button-select .GreyCir{
	background-image: url('/Images/ContentBlocks/SocialFollow/sprite.png');
	height: 50px;
	width: 50px;
	display: block;
}

.button-select .ColorSq.Facebook {
  background-position: 0 0;
}
.button-select .ColorSq.CustomB {
  background-position: 50px 0;
}
.button-select .ColorSq.CustomA {
  background-position: 100px 0;
}
.button-select .ColorSq.Pinterest {
  background-position: 150px 0;
}
.button-select .ColorSq.Blog {
  background-position: 200px 0;
}
.button-select .ColorSq.Ordering {
  background-position: 250px 0;
}
.button-select .ColorSq.TripAdvisor {
  background-position: 300px 0;
}
.button-select .ColorSq.Foursquare {
  background-position: 350px 0;
}
.button-select .ColorSq.Yelp {
  background-position: 400px 0;
}
.button-select .ColorSq.GooglePlus {
  background-position: 450px 0;
}
.button-select .ColorSq.Instagram {
  background-position: 500px 0;
}
.button-select .ColorSq.Website {
  background-position: 550px 0;
}
.button-select .ColorSq.Twitter {
  background-position: 600px 0;
}
.button-select .GreyCir.Facebook {
  background-position: 0 50px;
}
.button-select .GreyCir.CustomB {
  background-position: 50px 50px;
}
.button-select .GreyCir.CustomA {
  background-position: 100px 50px;
}
.button-select .GreyCir.Pinterest {
  background-position: 150px 50px;
}
.button-select .GreyCir.Blog {
  background-position: 200px 50px;
}
.button-select .GreyCir.Ordering {
  background-position: 250px 50px;
}
.button-select .GreyCir.TripAdvisor {
  background-position: 300px 50px;
}
.button-select .GreyCir.Foursquare {
  background-position: 350px 50px;
}
.button-select .GreyCir.Yelp {
  background-position: 400px 50px;
}
.button-select .GreyCir.GooglePlus {
  background-position: 450px 50px;
}
.button-select .GreyCir.Instagram {
  background-position: 500px 50px;
}
.button-select .GreyCir.Website {
  background-position: 550px 50px;
}
.button-select .GreyCir.Twitter {
  background-position: 600px 50px;
}
.button-select .GreySq.Facebook {
  background-position: 0 100px;
}
.button-select .GreySq.CustomB {
  background-position: 50px 100px;
}
.button-select .GreySq.CustomA {
  background-position: 100px 100px;
}
.button-select .GreySq.Pinterest {
  background-position: 150px 100px;
}
.button-select .GreySq.Blog {
  background-position: 200px 100px;
}
.button-select .GreySq.Ordering {
  background-position: 250px 100px;
}
.button-select .GreySq.TripAdvisor {
  background-position: 300px 100px;
}
.button-select .GreySq.Foursquare {
    background-position: 350px 100px;
}
.button-select .GreySq.Yelp{
    background-position: 400px 100px;
}
.button-select .GreySq.GooglePlus{
    background-position: 450px 100px;
}
.button-select .GreySq.Instagram{
    background-position: 500px 100px;
}
.button-select .GreySq.Website{
    background-position: 550px 100px;
}
.button-select .GreySq.Twitter{
    background-position: 600px 100px;
}
.button-select .ColorCir.Facebook{
    background-position: 0 150px;
}
.button-select .ColorCir.CustomB{
    background-position: 50px 150px;
}
.button-select .ColorCir.CustomA{
    background-position: 100px 150px;
}
.button-select .ColorCir.Pinterest{
    background-position: 150px 150px;
}
.button-select .ColorCir.Blog{
    background-position: 200px 150px;
}
.button-select .ColorCir.Ordering{
    background-position: 250px 150px;
}
.button-select .ColorCir.TripAdvisor{
  background-position: 300px 150px;
}
.button-select .ColorCir.Foursquare{
  background-position: 350px 150px;
}
.button-select .ColorCir.Yelp{
  background-position: 400px 150px;
}
.button-select .ColorCir.GooglePlus{
  background-position: 450px 150px;
}
.button-select .ColorCir.Instagram{
  background-position: 500px 150px;
}
.button-select .ColorCir.Website{
  background-position: 550px 150px;
}
.button-select .ColorCir.Twitter{
  background-position: 600px 150px;
}

.top5{
    margin-top: 5px;
    font-weight: normal;
}
.editorContentBlock .ui-widget-overlay.block-important{
    display: block !important;
}
.ui-dialog-titlebar-close{
    background-image: url("/Images/Modal/ui-icons_222222_256x240.png");
    background-position: -95px 112px;
    border: 1px solid #ccc;
}

/* #### CKEditor Specific Styles ##### */
.cke_combo__personalization a.cke_combo_button{
    width: 120px;
}
.cke_combo__personalization a.cke_combo_button span.cke_combo_text{
    width: 85px;
}

.cke_button__updateprofile  span.cke_button_icon{
    display: none !important;
}

.cke_button__updateprofile span.cke_button_label{
    display: inline !important;
}

td[data-html-editor]{
    height: 20px;
}

.clear-margin{
    margin: 0px;
}

.sm-buttons{
    margin-top: 15px;
}

.nav-stacked li > .view-html {
    -moz-border-top-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-top-right-radius: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    position: relative;
    border: 1px solid #d4d4d4;
    border-top: 0;
    top: 5px;
}

#editorCanvas code, #editorCanvas pre {
    padding: 0;
    margin: 0;
    line-height: inherit;
    color: inherit;
    background: none;
    border: none;
}