.cke_panel_list {
    font-family: Arial, sans-serif;
    font-size: 12px;
}
.cke_panel_grouptitle { 
    font-family: Arial, sans-serif;
    font-size: 12px;
}
.cke_combo__personalization a.cke_combo_button {
    width: 120px;
}
.cke_combo__personalization a.cke_combo_button span.cke_combo_text {
    width: 85px;
}