<div class="buttonEditorModal" data-bootstrap-modal="true" 
     data-show-modal="showButtonModal" 
     data-modal-title="Choose Button Syle"
     data-confirmation-button="SAVE" 
     data-cancel-button="Cancel"
     data-confirmation-callback="modalSaveCallback()"
     data-css-class="buttonModal">
    <div style="margin-left:150px; margin-bottom:20px;">
        

        <div class="button-select" data-ng-repeat="defaultColor in data.defaultColors">
            <input type="radio" value="{{defaultColor}}" ng-model="data.styleSelected" />
            <a href="javascript:void(0);" class="reservation-button-link" data-ng-style="{'background-color': defaultColor}">Make a Reservation</a>
        </div>        
        <div class="button-select">
            <input ng-model="data.styleSelected" value="buildYourOwn" type="radio"/>
            <strong>Or choose a different color: </strong>
        </div>
    </div>
    <div class="colorPicker" data-ng-show="data.styleSelected == 'buildYourOwn'">
        <div class="button-layout">
            <a href="javascript:void(0);" class="reservation-button-link" data-ng-style="{'background-color': data.color}" style="border-radius:5px;color:#FFFFFF;display:inline-block;font-family:Arial,sans-serif;font-size:18px;font-weight:bold;line-height:54px;text-align:center;
            text-decoration:none;width:200px;-webkit-text-size-adjust:none;">Make a Reservation</a>
            <div class="custom-button-hex">
                <label>HEX: </label>
                <input class="hex" type="text" maxlength="7" ng-model="data.color">
            </div>
            <div class="custom-button-rgb">
                <label>R: </label>
                <input type="text" maxlength="3" ng-model="data.r">
                <label>G: </label>
                <input type="text" maxlength="3" ng-model="data.g">
                <label>B: </label>
                <input type="text" maxlength="3" ng-model="data.b">
            </div>
        </div>
        <div class="hexPicker" data-farbtastic="true" ng-model="data.color">
        </div>
    </div>
    <div style="clear:both; float:right;">
        <input type="checkbox" ng-model="data.makeDefaultColor"> Set as default for all mailings.
    </div>
</div>