<div class="socialFollowStyleEditorModal" data-bootstrap-modal="true"
     data-show-modal="showSocialFollowStyleModal"
     data-modal-title="Choose Button Syle"
     data-confirmation-button="SAVE"
     data-cancel-button="Cancel"
     data-confirmation-callback="modalSaveCallback()"
     data-css-class="socialFollowStyleModal">
    <div class="button-select" data-ng-repeat="iconSet in data.defaultIconSets">
        <input type="radio" value="{{iconSet[0]}}" ng-model="data.setSelected" />
        <img data-ng-repeat="icon in iconSet" src="{{icon.imageUrl}}" alt="{{icon.alt}}" />
    </div>
    <div style="clear:both; float:right; margin-top: 20px;">
        <input type="checkbox" ng-model="data.makeDefaultIconSet"> Set as default for all mailings.
    </div>
</div>