<div class="urlManagerModal"
     data-bootstrap-modal="true"
     data-show-modal="showUrlManager"
     data-modal-title="{{modalTitle}}"
     data-keep-open-on-cancel="keepOpenOnCancel"
     data-confirmation-button="Save"
     data-cancel-button="Cancel"
     data-confirmation-callback="saveURLs()"
     data-close-callback="restoreURLs()"
     data-css-class="urlManager">
    <div data-ng-if="formMode === 'webPagesLink'">
        <iframe frameborder="0" style="width:100%; max-width: 100%; overflow: auto; min-height: 400px;" border="0" data-ng-src="{{data.iframeUrl}}"></iframe>
    </div>
    <div data-ng-show="formMode === 'formMode'">
        <div class="form-inline">
            <h5>Store {{store.Code}}: {{store.Name}}</h5>
            <div class="row-fluid">
                <div class="control-group error span8">
                    <span class="help-inline">{{validationMessage}}</span>
                </div>
                <div class="span4 text-right">
                    <label class="control-label">Include&nbsp;</label>
                </div>
            </div>
            <div data-ng-repeat="link in urls">
                <div class="row-fluid" data-ng-show="{{link.alwaysShow}} || data.showMore">
                    <div class="control-group span3 text-right">
                        <label for="{{link.alias}}" class="control-label">{{link.name}}:</label>
                    </div>
                    <div class="control-group span8" data-ng-class="{ error: link.errorMessage.length > 0 }">
                        <input type="text" class="form-control" id="{{link.alias}}" placeholder="Enter {{link.name}} URL" data-ng-model="link.url" data-ng-focus="link.errorMessage = ''" data-ng-blur="validateLink(link)" data-ng-model-options="{ updateOn: 'blur' }">
                        <span class="help-inline">{{link.errorMessage}}</span>
                    </div>
                    <div class="control-group span1">
                        <input type="checkbox" data-ng-model="link.included">
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid" style="padding:20px 0px;">
            <input type="button" class="btn btn-link" data-ng-click="data.showMore = !data.showMore" data-ng-model="data.showMore"  value="{{ data.showMore ? 'Show Less' : 'Show More'}}" />
            
            <span data-ng-show="data.hasMultipleStores">
                |
                <input type="button" name="name" value="Manage URLs for other locations" data-ng-click="manageWebLinks()" class="btn btn-link" />
            </span>
        </div>
        <div class="row-fluid">
            <div class="control-group span7"></div>
            <div class="control-group span5">
                <div class="checkbox" data-ng-show="data.hasMultipleStores">
                    <label for="updateAllLocations" class="control-label"><input type="checkbox" id="updateAllLocations" data-ng-model="data.updateAllLocations" />Use these URLs for all locations</label>
                </div>
                <div class="checkbox">
                    <label for="makeDefault" class="control-label"><input type="checkbox" id="makeDefault" data-ng-model="data.makeDefault" />Set as default for all mailings</label>
                </div>
            </div>
        </div>
    </div>
    <div data-ng-show="formMode === 'legendMode'">
        Using these URLs for all your locations will update and replace any data you have on the Webpage Links page.
    </div>
</div>
