<div data-bootstrap-modal="true" 
     data-show-modal="showSelectLayoutModal" 
     data-modal-title="Select Layout"
     data-confirmation-button="Select" 
     data-cancel-button="Cancel"
     data-confirmation-callback="confirmationCallback()" 
     data-close-callback="closeCallback()"
     data-css-class="layout-modal">
    <span style="font-size:14px;">Choose from one of our favorite layouts below. You may also customize each layout futher in Step 3.</span>
    <div class="layouts-container">
        <div data-ng-repeat="layout in layouts" data-ng-click="selectLayout($index)" class="layout-preview-block text-center" data-ng-class="{selected: layout.selected}">
            <img data-ng-src="{{layout.thumbnailUrl}}" width="200" height="200" alt="{{layout.name}}" />
            <div id="layoutOverlay"></div>
            <span class="layout-description">{{layout.description}}</span>
        </div>
    </div>
</div>