<!--[if lte IE 11]>
    <script type="text/javascript" src="/scripts/lib/jquery.placeholder.js"></script>
    <script type="text/javascript">
        // Document ready
        $(function() { $('input, textarea').placeholder(); });
    </script>
<![endif]-->

<!-- Message Data Form -->

<link rel="stylesheet" href="/styles/editor.css">
<link rel="stylesheet" href="/styles/jquery-ui-1.10.3.custom.css">

<div class="row" data-ng-form="true" name="messageDataForm">
    <div class="col-xs-6 col-xs-offset-2">
        <div class="form-horizontal">
            <div class="form-group" data-ng-class="{error: submitted && messageDataForm.name.$error.required}">
                <label class="control-label col-xs-3">Message Name: </label>
                <div class="col-xs-9">
                    <input type="text" name="name" value="" data-ng-required="true" class="form-control" data-ng-model="messageData.name" />
                    <span class="help-inline" data-ng-show="submitted && messageDataForm.name.$error.required">Required</span>                
                </div>
            </div>
            <div class="form-group" data-ng-class="{error: submitted && messageDataForm.from.$error.required}">
                <label class="control-label col-xs-3">From: </label>
                <div class="col-xs-9">
                    <input type="text" value="" name="from" data-ng-required="true" class="form-control" data-ng-model="messageData.from" />
                    <span class="help-inline" data-ng-show="submitted && messageDataForm.from.$error.required">Required</span>                
                </div>
            </div>
            <div class="form-group" data-ng-class="{error: submitted && messageDataForm.subject.$error.required }">
                <label class="control-label col-xs-3">Subject: </label>
                <div class="col-xs-9">
                    <textarea id="subject" type="text" maxlength="250" spellcheck="true" value="" name="subject" data-ng-required="true" class="col-xs-6 form-control" data-ng-model="messageData.subject" data-enter="true"></textarea>
                    <span class="help-inline" data-ng-show="submitted && messageDataForm.subject.$error.required">Required</span>                
                </div>
            </div> 
        </div>
    </div>
    <div class="col-xs-2">
        <a class="btn sendATest" data-ng-disabled="!messageData.id" data-ng-click="showSendATest()" href="javascript:;">
            <i class="flaticon-sendATest"></i>
            <label class="lblSendATest">SEND A TEST</label>
        </a>
    </div>
</div>
<!-- End Message Data Form-->
<div id="sticky-anchor" class="row">
    <!--Left SideBar-->
    <div id="sticky" class="col-xs-2 left-sidebar">
        <div class="navbar row">
            <div class="navbar-inner">
                <h6>Add Content</h6>
            </div>
        </div>
        <div class="editor-content row">
            <div class="row">
                <table id="layoutContentBlocks">
                    <tr class="droppableContentBlock ui-helper-clearfix" data-ng-repeat="block in editorCtrl.contentBlocks"></tr>
                </table>
            </div>
        </div>
    </div>
    <!--End Left SideBar-->
    <!--Main Content-->

    <div class="col-xs-10 main-content">
        <div class="navbar row">
            <div class="navbar-inner">
                <ul class="nav">
                    <li>
                        <h6>Edit Email</h6>
                    </li>
                </ul>
                <ul class="nav pull-right">
                    <li>
                        <button type="button" class="btn" data-ng-click="showEmailOptions()"><span class="caret"></span> Email Options</button>
                        <input type="button" value="Undo" data-ng-class="{disabled: !undoEnabled}" class="btn undo" data-ng-disabled="!undoEnabled" data-ng-click="undo()" />
                        <input type="button" value="Redo" data-ng-class="{disabled: !redoEnabled}" class="btn redo" data-ng-disabled="!redoEnabled" data-ng-click="redo()" />
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div id="editorCanvas" class="row content ui-corner-all" data-ng-bind-html="editorCtrl.editor | unsafe">
            </div>
        </div>
    </div>
    <div class="row" style="background-color: transparent;">
        <div class="col-xs-2 col-xs-offset-2">
            <ul class="nav-pills nav-stacked unstyled">
                <li><a data-ng-click="showHtmlVersion = true;" data-ng-show="isSuperUser" href="javascript:;" class="view-html btn btn-default">View HTML</a></li>
            </ul>
        </div>
    </div>
    <!--End Main Content-->
</div>

<!-- View Templates -->
<div id="viewTemplates" data-ng-show="false">
    <img src="/Images/editorcontentactivedrag.png" class="droppableContentBlockDrag" style="position:relative; z-index:10000; top:-75px; left:95px;" />
    <table>  
        <tr class="dragging"><td><div><img src="/Images/editortableactivedrag.png" /><p>Drop Here!</p></div></td></tr>
        <tr class="emptyBlock"><td><div><img src="/Images/Setup/emptyLogo.gif" /></div></td></tr>
    </table>

    <div class="ui-widget-overlay"></div>
    <div class="contentBlockHoverMenuBar ui-corner-all clearfix">
        <a href="javascript:;" title="Move" class="drag btn btn-inverse text-center"><i class="icon-move icon-white"></i></a>
        <a href="javascript:;" title="Duplicate" data-ng-click="duplicate()" class="btn btn-inverse text-center duplicate"><i class="icon-duplicate"></i></a>
        <a href="javascript:;" title="Style" data-ng-click="editStyle()" class="btn btn-inverse text-center style"><i class="icon-brush"></i></a>
        <a href="javascript:;" title="Edit" data-ng-click="edit()" class="btn btn-inverse text-center edit"><i class="icon-pencil icon-white"></i></a>
        <a href="javascript:;" title="Delete" data-ng-click="destroy()" class="btn btn-inverse text-center delete"><i class="icon-trash icon-white"></i></a>
    </div>
</div>
<!-- End View Templates -->

<!--Send a Test PopUp-->
<div send-a-test-modal="true" show-send-a-test-modal="showSendATestModal"></div>

<div data-email-options-modal="true"
     data-show-email-options-modal="showEmailOptionsModal"
     data-message-data="messageData"
     data-save-callback="save()"
     data-enable-view-online="enableViewOnline"></div>

<div id="url-manager-modal" data-url-manager="true">
</div>

<div data-button-modal="true">
</div>

<!-- Social Follow Content Block Style Modal -->
<div data-social-follow-style-modal="true"></div>

<!-- Html Content Block Style Modal -->
<div data-html-editor-modal="true"></div>
<div data-html-version-modal="true"
     data-show-html-version-modal="showHtmlVersion"
     data-get-editable-content="getContent()"
     data-design-html="rawDesignHtml"></div>

<div data-img-modal="true"></div>

<!-- Bootstrap Tour -->
<div data-bootstrap-tour="true" data-update-configuration="updateConfiguration()" data-message-ready="messageReady"></div>

<!-- Validation Message Modal -->
<div data-bootstrap-modal="true"
     data-show-modal="showValidationMessage"
     data-modal-title="Oops"
     data-cancel-button="Close">
    <p data-ng-bind-html="validationErrors"></p>
</div>
<div data-finalized-message="true" data-show-finalized-alert="showFinalizedAlert"></div>